$primary: #ffffff;
$secondary: #ff2670;
$dark: #242a35;

* {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

html {
  background-color: $dark;
  display: flex;
  justify-content: center;
  height: 100%;
}

h1 {
  font-weight: bolder;
  color: $dark;
}

body {
  width: 800px;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 100%;
  margin: 0px;
  padding: 16px;
  background-color: $primary;
}

p {
  white-space: pre-wrap;
  border-radius: 8px;
  padding: 8px;
  color: $dark;
}

button {
  font-size: large;
  padding: 8px 16px;
  font-weight: bold;
  background-color: $dark;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: block;
  margin-top: 8px;
}


a {
  font-size: medium;
  font-weight: bold;
  color: $dark;
}

a:link {
  color: $dark;
}


/* visited link */
a:visited {
  color: $dark;
}

/* mouse over link */
a:hover {
  color: $secondary;
}


button:hover {
  background-color: $secondary;
}

input {
  font-size: large;
  background-color: white;
  color: $dark;
  border-radius: 8px;
  padding: 8px 16px;
}

.mb {
  margin-bottom: 12px;
}

small {
  color: #24cc85;
}

.error {
  color: red;
  background: black;
  padding: 8px;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.loading {
  animation: loading 0.7s infinite;
}

footer {
  position: fixed; 
  bottom: 0;
}


